{% extends "base.html" %}
{% block contents %}
<div class="container">
    <div class="row" style="margin:20px">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-info">
                <div class="panel-heading">Login with Facebook</div>
                <div class="panel-body">
                    {% load facebook_connect %}
                    {% facebook_button %}
                    {% facebook_script %}
                    <div id="status"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
</div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



{% endblock %}
